---
import TextFormatter from '../components/TextFormatter.jsx';
---

<html lang="es">
  <head>
    <title>Formateador de texto</title>
  </head>
  <body class="bg-body-gradient text-white min-h-screen flex flex-col items-center justify-center">
    <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold mb-4">Formateador de Texto</h1>
    <TextFormatter client:load />
  </body>
</html>
